 # Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.venv/
venv/
ENV/
env/
poetry.lock
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/
.tox/
.mr/
*.log

# Allure
allure-results/
allure-report/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# OS
Thumbs.db
desktop.ini

# Secrets
.env
.env.local
.env.*.local
*.key
*.pem
*.crt

# Project specific
screenshots/
logs/
temp/
*.db
*.sqlite
".env.bstack" 
".env.credentials" 
".env.*" 
"!/.env.example" 
diploma_restful_booker_structure.txt
fff.py
".env" 
".env.credentials" 
".env.bstack" 
".env.credentials" 
".env.local_emulator" 
".env.local_real"
# Secrets
.env.credentials
.env.bstack
.env.local_*
.env.*
!.env.example
