pytest==8.3.4
pytest-xdist==3.6.1
selene==2.0.0rc10
selenium==4.29.0
webdriver-manager==4.0.2
requests==2.32.3
jsonschema==4.23.0
pydantic==2.5.3
pydantic-settings==2.1.0
python-dotenv==1.0.1
Appium-Python-Client==4.1.0
allure-pytest==2.13.5
allure-python-commons==2.13.5
loguru==0.7.3
ruff==0.8.4
faker==33.0.0